.idea/*
dist/
bats.tar.gz
metadatas/tests/current-pod-size/podsize.log
metadatas/tests/dynamic/dynamic.log
metadatas/tests/elasticsearch/elasticsearch.log
metadatas/tests/individual/individual.log
metadatas/tests/one-to-many/jvm.log
metadatas/tests/shell-dynamic/ohs.log
metadatas/tests/negative/negative.log
venv/
build/
src/basic_acceptance_test_suite.egg-info
dependencies/basic-acceptance-test-suite-0.0.1.tar.gz
lib/
docsite/node_modules
